<form action="/create-student" method="POST" class="form-group">
    <label for ="name">Name</label>
    <br>
    <input type="text" name="name" class="form-input" placeholder="Enter your name"/>
    <br>
    <label for ="surname">Surname</label>
    <br>
    <input type="text" name="surname" class="form-input"  placeholder="Enter your surame"/>
    <br>
    <label for ="age">Age</label>
    <br>
    <input type="number" name="age" class="form-input"  placeholder="Enter your age"/>
    <br>
    <input type="submit" value="Create" class="btn btn-primary"/>
</form>

<a class="btn btn-success" href="/list">List all students</a>